################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LiveCode3/.vs/LiveCode3/v16/Server/sqlite3
